*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto","Arial",sans-serif;
    animation: none;
    -webkit-tap-highlight-color: transparent;
}

:root {
  --global-background-darkMode: #0f0f0f;
}

.main{
    display: grid;
    background-color: var(--global-background-darkMode);
    grid-template-columns: 17rem 10fr;
    grid-template-rows: 4.6rem 1fr 10fr;
    grid-template-areas: 
    "header header header header"
    "sidebar content-main content-main content-main"
    "sidebar content-main content-main content-main";
    transition: 0.7s ease-in-out;
}

button{
    cursor: pointer;
}

img{
    cursor: pointer;
}






.footer{
    background-color: yellow;
    grid-area: footer;
}
 

@media screen and (max-width:1440px){
    .main{
        grid-template-columns: 14rem 10fr;
    }
    .sidebar{
        margin-left: 0.5rem;
    }
}

@media screen and (max-width:1024px){
    .main{
        grid-template-columns: 6rem 10fr;
    }
}


@media screen and (max-width:768px){
    .main{
        grid-template-columns: 0rem 10fr;
    }
}
