*{
    margin: 0;
    padding: 0;
    font-family: Raleway;
    list-style: none;
    text-decoration: none;
}

:root {
  --global-background-darkMode: #0f0f0f;
}

.main{
    display: grid;
    background-color: brown;
    grid-template-columns: 15rem 10fr;
    grid-template-rows: 4.6rem 1fr 10fr;
    grid-template-areas: 
    "header header header header"
    "sidebar content-main content-main content-main"
    "sidebar content-main content-main content-main";
    transition: 0.7s ease-in-out;
}




.sidebar{
    background-color: red;
    grid-area: sidebar;
}

.content-main{
    grid-area: content-main;
}

.footer{
    background-color: yellow;
    grid-area: footer;
}



@media screen and (max-width:1440px){
    .main{
        grid-template-columns: 6rem 10fr;
    }
}

@media screen and (max-width:1440px){
    .main{
        grid-template-columns: 4rem 10fr;
    }
}

@media screen and (max-width:768px){
    .main{
        grid-template-columns: 0rem 10fr;
    }
}