.header{
    background-color: var(--global-background-darkMode);
    grid-area: header;
    padding: 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
    height: 4rem;
}

.header-svg-close-search{
    display: none;
    cursor: pointer;
}

.header-start-holder{
    display: flex;
    margin-right: 0.5rem;
}

.header-button-hamburguer-menu{
    background-color: transparent;
    border: none;
    width: 3rem;
    text-align: center;
    align-items: center;
    vertical-align: center;
}
.header-svg-menu-hamburguer{
    text-align: center;
    align-items: center;
    vertical-align: center;
    background-color: transparent;
    width: 1.9rem;
    transition: 0.3s ease-in-out;
}

.header-svg-menu-hamburguer:hover{
    filter: drop-shadow(0px 0px .4rem #75757554);
    background-color: #75757554;
    border-radius: 5px;
}



.header-svg-logo{
    width: 7rem;
    margin-left: 0.5rem;
    margin-bottom: 0.16rem;
    text-align: center;
    align-items: center;
    vertical-align: center;
}



.header-middle-holder{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    margin: 0 1.5rem;
    width: 100%;
    max-width: 557px;
    transition: 0.8s ease-in-out;
}

.header-input-form{
    text-align: left;
    align-items: left;
    border: 0.1px solid hsl(0,0%,18.82%);
    border-radius: 25px;
    width: 100%;
    max-width: 34rem;
    padding: 0  0 0 0.74rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    background-color: #161616d9;
}

.header-input-search{
    margin-left: 0.5rem;
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    height: 2.5rem;
    width: 100%;
    outline: 0;
    color: white;
}

.header-svg-close-search{
    border: 0;
    width: 1.5rem;
    margin-right: 0.5rem;
}

.header-button-search{
    background-color: #75757554;
    border: 0;
    border-radius: 0 25px 25px 0;
    padding: 0 1rem;
    transition: 0.3s ease-in-out;
}

.header-button-search:hover{
    background-color: #767575a6;
    filter: drop-shadow(0px 0px .19rem #767575a6);
}

.header-button-voice-search{
    background-color: #75757554;
    border: 0;
    border-radius: 50%;
    margin-left: 1rem;
    transition: 0.3s ease-in-out;
}

.header-button-voice-search-svg{
    margin: 0.5rem;
}

.header-button-voice-search:hover{
    background-color: #767575a6;
    filter: drop-shadow(0px 0px .19rem #767575a6);
}

.header-end-holder{
    text-align: center; 
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    max-width: 15rem;
    transition: 0.6s ease-in-out;
}

.header-button-create{
    background-color: #75757554;
    border: 0;
    border-radius: 25px;
    margin-left: 1rem;
    text-align: center;
    align-items: center;
    vertical-align: center;
    height: auto;
    padding: 0.5rem 1rem;
    display: flex;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.header-button-mobile-search-svg{
    transition: 2s ease-in-out;
}

.header-button-create:hover{
    background-color: #767575a6;
    filter: drop-shadow(0px 0px .19rem #767575a6); 
}

.header-button-create-svg{
    margin-right: 0.6rem;
}

.header-button-create-text{
    color: white;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    align-items: center;
    vertical-align: center;
    font-size: 0.8rem;
}

.header-button-profile{
    width: fit-content;
}

.header-button-profile-svg{
    width: 2.3rem;
    margin-top: 3px;
    transition: 0.3s ease-in-out;
}

.header-button-profile-svg:hover{
    filter: drop-shadow(0px 0px .4rem #75757554);
    background-color: #75757554;
    border-radius: 50px;
}


.header-button-mobile-search{
    background-color: transparent;
    border: none;
    margin-left: auto;
    display: none;
}

.header-button-mobile-voice-search{
    background-color: transparent;
    border: none;
    margin-left: auto;
    margin-left: 0.6rem;
    transition: 0.8s ease-in-out;
}

.header-button-mobile-search-svg{
    width: 1.6rem;
    transition: 0.8s ease-in-out;
}

.header-button-mobile-voice-search-svg{
    width: 1.6rem;
    transition: 0.6s ease-in-out;
}

.header-button-mobile-search-svg{
    transition: 0.3s ease-in-out;
}
.header-button-mobile-search-svg:hover{
    filter: drop-shadow(0px 0px .4rem #75757554);
    background-color: #75757554;
    padding: 0.2rem 0.19rem;
    border-radius: 25px;
}

.header-button-mobile-voice-search-svg{
    transition: 0.3s ease-in-out;
}
.header-button-mobile-voice-search-svg:hover{
    filter: drop-shadow(0px 0px .4rem #75757554);
    background-color: #75757554;
    padding: 0.2rem 0.19rem;
    border-radius: 25px;
}


.header-button-notifications{
    transition: 0.3s ease-in-out;
}
.header-button-notifications:hover{
    filter: drop-shadow(0px 0px .4rem #75757554);
    background-color: #75757554;
    padding: 0.5rem;
    border-radius: 25px;
}

.headerMiddleHolderMobile{
    max-width:400px!important;
    margin-left:auto!important;
    display:flex!important;
    padding-left:1rem!important;
    transition:1.2s ease-in-out!important; 
}
.headerButtonMobileSearchSvgMobile{
    rotate: 180deg!important;
    filter: drop-shadow(0px 0px .4rem #75757554)!important;
    background-color: rgba(117, 117, 117, 0.16)!important;
    padding: 0.3rem 0.3rem!important;
    border-radius: 25px!important;
}

.mobileWidthNull{
    width: 0px!important;
    transition: 0.8s ease-in-out!important;
    overflow-x: hidden;
}

.headerMobileJS {
    background-color: var(--global-background-darkMode);
    grid-area: header;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
    height: 4rem;
    justify-content: flex-start;
}

@media screen and (max-width:1060px) {
    .header-middle-holder{
        max-width: 465px;
    }
}

@media screen and (max-width:980px) {
    .header-middle-holder{
        max-width: 300px;
    }

    .header-end-holder{
        max-width: 13.3rem;
    }
}

@media screen and (max-width:768px) {
    .header-middle-holder{
        display: none;
    }

    .header-button-create-text{
        display: none;
    }

    .header-end-holder{
        max-width: 13.3rem;
        justify-content: space-evenly;
    }

    .header-button-create{
        padding: 0.5rem;
    }

    .header-button-create-svg{
        margin-right: 0;
    }

    .header-button-mobile-search{
        display: flex;
    }
}


@media screen and (max-width:560px) {
    .header-button-notifications{
        display: none;
    }
    .header-button-profile{
        display: none; 
    }

    .header-end-holder{
        width: fit-content;
    }

    .header{
        height: 6rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 
        align-content: stretch;
        justify-content: space-between;
        align-items: center;
    }
    .headerMiddleHolderMobile {
        max-width: 77% !important;
    }
    .content-main{
        margin-top: 3.5rem!important;
    }
}

@media screen and (max-width:425px) {
    .headerMiddleHolderMobile {
        max-width: 76% !important;
        padding-left: 0px !important;
        margin-left: 10px !important;
        margin-right: 0px!important;
    }
    .header-button-mobile-search{
        margin-left: 10px;
    }
}

@media screen and (max-width:360px) {
    .headerMiddleHolderMobile {
        max-width: 73% !important;
    }
    .header{
        padding-left: 0;
    }
    .header-end-holder{
        display: none;
    }
}
